/*default-color*/
$main-color:rgba(72,96,163,1);
$sub-color:#919191;
$sub-bg-color:#f4f5f9;
$main-hover-bg-color:#eef9ff;
$table-bg-color:#EEEEEE;
$warning-bg-color:#FDD8D8;
/*border-color*/
$main-border-color:#DDDDE3;
$btn-border-color:#e1e3e1;
$warning-border-color:#F9C6C6;

/*font*/
$main-font-color:#09090B;
$table-font-color:#09090B;
$active-font-color:#0261fa;
$label-font-color:#919191;
$btn-font-size:12px;
$table-detail-color:#757A70;
$table-th-color:#71717A;
$warning-font-color:#C62A2F;


/*btn-hover*/
$btn-unavailable-color:#8D8D8D;
$btn-hover-color:#f4f4f5;
$nav-bar-btn-color:#F4F5F9;
$menu-speed:0.75s;

/*btn-color*/
$btn-bg-color1:#bbbbbb;
$btn-bg-color2:#646464;
$btn-able-text:#60646C;
$btn-able-bg-color:#EBEBEF;
$btn-able-border-color:#D3D4DB;
$btn-enable-text:#B9BBC6;
$btn-enable-bg-color:#E1E3E1;
$btn-enable-border-color:#E1E3E1;

.hide-text{opacity:0;}